/* You can add global styles to this file, and also import other style files */
@import "./styles/reset";
@import "./styles/theme";



* {
	box-sizing: border-box;
}

body {
	font-family: "roboto";
  height:100vh;
}

button {
	cursor: pointer;
}



.transparent .mat-dialog-container {
    box-shadow: none;
		// background: transparent !important;
		display: flex;
		align-items: center;
		justify-content: center;
}

.transparent {
	max-width: none !important;
	// height: 100vh;
	// width: 100vw;

}

.cdk-overlay-backdrop{
	background: rgba(255, 255, 255, 0.7);
}

