<div class="slideshow">
  <div class="slideshow-image" style="background-image: url('/assets/NL1.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL2.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL3.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL4.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL5.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL6.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL7.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('/assets/NL8.jpg')"></div>
</div>
